<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>About</title>
    <style>
		nav {
			background-color: #333;
			overflow: hidden;
		}

		nav a {
			float: left;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		nav a:hover {
			background-color: #ddd;
			color: black;
		}

		.active {
			background-color: #4CAF50;
		}
	</style>
</head>
<body>
<nav>
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
    <a href="/explore">Explore</a>
    <a href="/login">Log In / Sign Up</a>
</nav>

<div align="center">
    <h1>About - Flower Shop</h1>
    <p> Welcome to our flower shop! Our mission is to help our customers create a unique and personalized home environment by providing them with a wide selection of high-quality flowers and plants. We believe that surrounding oneself with nature has many benefits, including reducing stress and increasing productivity, and we want to make it easy for our customers to incorporate nature into their daily lives.

        By subscribing to our flower shop, our customers gain access to a variety of flowers and plants that are carefully selected and delivered directly to their doorstep. Our team of experts will guide our customers through the selection process, taking into account their personal preferences and home environment to ensure that each arrangement complements and enhances their living space.

        We understand that everyone has different tastes and preferences, which is why we offer a wide range of flowers and plants to choose from. Whether you prefer classic roses, exotic orchids, or vibrant succulents, we have something for everyone.

        At our flower shop, we believe that everyone deserves to live in a beautiful and inspiring environment, and we are dedicated to helping our customers achieve this. Join us on this journey to create a personalized home environment that truly reflects your unique personality and style.</p>
</div>
</body>
</html>