<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <title>Admin Dashboard</title>
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>

    <body>
        <div layout:fragment="content" th:remove="tag">

        <h1>Admin Dashboard</h1>
        <p sec:authorize="hasRole('ROLE_ADMIN')">Welcome to your admin dashboard!</p>
        <p sec:authorize="hasRole('ROLE_ADMIN')">Here you can manage the application.</p>

        </div>
    </body>

</html>