<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="utf-8"/>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="body.css">
</head>

<body>

<div layout:fragment="content" th:remove="tag">

    <h1>Shopping Cart</h1>
    <table class="table-centered">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${!cart.items.empty}">
            <th:block th:each="item : ${cart.items}">
                <tr>
                    <td th:text="${item.flower.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.flower.price}"></td>
                    <td th:text="${item.getTotalPrice()}"></td>
                    <td>
                        <form th:action="@{/cart/remove/{id}(id=${item.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:if="${cart.items.empty}">
            <tr>
                <td colspan="5">Your cart is empty.</td>
            </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td th:text="${cart.getTotalPrice()}"></td>
            <td>
                <form th:action="@{/cart/clear}" method="post">
                    <button type="submit" class="btn btn-danger">Clear Cart</button>
                </form>
            </td>
        </tr>
        </tfoot>
    </table>

    <form action="/explore" method="get">
        <button type="submit" class="btn btn-primary">Add more flowers</button>
    </form>

    <!-- Checkout button -->
    <form th:action="@{/user/checkout}" method="get">
        <button type="submit" class="btn btn-success">Checkout</button>
    </form>

</div>
</body>
</html>