<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
      <meta charset="utf-8"/>
      <title>Error</title>
      <link rel="stylesheet" type="text/css" href="style.css">

  </head>

  <body>

      <div layout:fragment="content" th:remove="tag">

          <h1>Error</h1>
          <p>Oops! Something went wrong.</p>
          <p>Please select an option from the navigation bar.</p>

      </div>

  </body>

</html>