<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Flower Manager</title>
</head>
<body>
<div align="center">
  <h1>Flower List</h1>
  <a th:href="@{/new}">Add New Flower</a><br/>
  <a th:href="@{/}">Customer List</a>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flower : ${flowerList}">
      <td th:text="${flower.name}"></td>
      <td th:text="${flower.price}"></td>
      <td th:text="${flower.customer != null} ? ${flower.customer.fullName}"></td>
      <td>
        <a th:href="@/user/cart/${flower.id}">Add to Cart</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>