<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="body.css">
</head>

<body>
    <div layout:fragment="content" layout:title="Login Page" th:remove="tag">
        <h1>Login to Allure</h1>

        <div class="center-form">
            <form th:action="@{/login}" method="post">
                <div>
                  <label for="username">Username:</label>
                  <input type="text" id="username" name="username" autofocus="autofocus" />
                </div>
                <div>
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" />
                </div>
                <div>
                  <input type="submit" value="Log in" />
                </div>
            </form>
        </div>

    </div>
</body>

</html>

