<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <title>New Cart</title>
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>

    <body>

        <div layout:fragment="content" th:remove="tag">

              <h1>Create New Cart</h1>

              <form action="#" th:action="@{/cart/new}" th:object="${cart}" method="post">

                    <label for="id">Cart Id:</label>
                    <input type="long" id="id" name="id" required><br><br>

                    <button type="submit">Create Cart</button>
              </form>

                    <br>
                    <h2>Cart:</h2>
                    <p>ID: <span th:text="${cart.id}"></span></p>
                    <p>Total Price: <span th:text="${cart.totalPrice}"></span></p>
                    <p>Customer ID: <span th:text="${cart.customer.id}"></span></p>
                    <p th:if="${cart.customer == null}">Customer ID: N/A</p>
                    <p th:if="${cart.customer != null}" th:text="'Customer ID: ' + ${cart.customer.id}"></p>

        </div>

    </body>
</html>