<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <div layout:fragment="content" th:remove="tag">

    <h1>User Dashboard</h1>
    <p>Welcome to your user dashboard!</p>.
    <p>Here you can view your customer information.</p>
    </div>
</body>
</html>
