<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Username Exists</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <h1>Username already exists.</h1>
  <p>Please <a href="/registration">click here</a> to try again with a different username.</p>
</div>
</body>
</html>