<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <nav>
        <a class="active-1" href="/">Home</a>
        <a class="active-2" href="/">User</a>
        <a href="/about">About</a>
        <a href="/explore">Explore</a>
        <a href="/login">Log In / Sign Up</a>
    </nav>

    <h1>User Dashboard</h1>
    <p>Welcome to your user dashboard!</p>.
    <p>Here you can view your customer information.</p>
</body>
</html>
