<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>User Dashboard</h1>
    <p>Welcome to your user dashboard, <strong><span th:text="${userCart.user.username}">username</span></strong>!</p>
    <p>Here you can view your customer information.</p>

    <h2>Your Cart</h2>
    <table>
        <thead>
        <tr>
            <th>Flower</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.flower.name}">Flower Name</td>
            <td th:text="${item.flower.price}">Flower Price</td>
            <td th:text="${item.quantity}">Flower Quantity</td>
        </tr>
        <tr th:if="${items.isEmpty()}">
            <td colspan="3">Your cart is empty.</td>
        </tr>
        </tbody>
    </table>
    <p>Total Price: <span th:text="${cart.getTotalPrice()}">0.0</span></p>
</div>
</body>
</html>