<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Weather Form</title>
    <link rel="stylesheet" type="text/css" href="body.css">
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>Enter a City and a Country</h1>

    <div class="center-form">
        <form th:action="@{/weather}" method="post">
            <label for="city">City:</label>
            <input type="text" id="city" name="cityName" th:value="${city}"><br><br>
            <label for="country">Country:</label>
            <input type="text" id="country" name="countryName" th:value="${country}"><br><br>
            <button type="submit">Get Weather</button>
        </form>
    </div>
</div>
</body>
</html>