<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Weather Report</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div layout:fragment="content" th:remove="tag">

  <h1>Weather Report</h1>
  <ul>
    <li th:each="info : ${weather.weatherInfo}">
      <h2 th:text="${info.visual}"></h2>
      <p th:text="${info.description}"></p>
    </li>
  </ul>
  <table>
    <thead>
    <tr>
      <th>Temperature</th>
      <th>Feels Like</th>
      <th>Humidity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${weather.mainData.temp}"></td>
      <td th:text="${weather.mainData.feels_like}"></td>
      <td th:text="${weather.mainData.humidity}"></td>
    </tr>
    </tbody>
  </table>

</div>

</body>

</html>
